* {
box-sizing: border-box;
}

body {
    background-image: url("../IMG/bricks.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    width: 1000px;
    height: 820px;
    background-color: #262121;
    margin: -20px auto 0 auto;
    border: #7122fa 8px solid;
    box-shadow: 0 0 90px 120px rgba(0,0,0,0.5), inset 0 0 9px 12px rgba(113,34,250,0.3), 0 0 9px 12px rgba(113,34,250,0.3);
}

h1 {
    float: right;
    font-size: 50px;
    text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    color: #FFFFFF;
    font-family: "Monoton", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 40px 30px 20px 0;
}

aside {
    height: 600px;
    width: 120px;
    float: left;
    margin: 140px 0 10px 20px;
}

main {
    height: 600px;
    width: 800px;
    border: #7122fa 5px solid;
    float: right;
    margin: 20px 30px 20px 0;
    background-color: #111010;
    box-shadow: inset 0 0 9px 12px rgba(113,34,250,0.3), 0 0 9px 12px rgba(113,34,250,0.3);
}

aside div {
    width: 70px;
    height: 70px;
    border: 8px solid white;
    border-radius: 40px;
    margin: 0 auto 15px auto;
    background-size: cover;
}

.white {
    border-color: #FFFFFF;
    background-image: url("../IMG/brushWhite.png");
    box-shadow: 0 0 5px 5px rgba(255,255,255, 0.3), inset 0 0 5px 5px rgba(255,255,255, 0.3);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}


.white:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 10px rgba(255,255,255, 0.3), inset 0 0 5px 5px rgba(255,255,255, 0.6)
}

.white-active {
    background-color: #FFFFFF;
    background-image: url("../IMG/brushBlack.png");
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 10px 10px rgba(255,255,255, 0.3);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    cursor: pointer;
}

.eraser {
    margin-top: 30px;
    border-color: #b2b2b2;
    background-image: url("../IMG/eraserGrey.png");
    box-shadow: 0 0 5px 5px rgba(178,178,178, 0.3), inset 0 0 5px 5px rgba(178,178,178, 0.3);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

.eraser:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 10px rgba(178,178,178, 0.3), inset 0 0 5px 5px rgba(178,178,178, 0.6)
}

.eraser-active {
    background-color: #b2b2b2;
    background-image: url("../IMG/eraserBlack.png");
    border: 4px solid #b2b2b2;
    box-shadow: 0 0 10px 10px rgba(178, 178, 178, 0.3);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    cursor: pointer;
}

main:hover {
    cursor: crosshair;
}

.paintable {
    width: 5px;
    height: 5px;
    float: left;
    background-color: #111010;
}