* {
box-sizing: border-box;
}

body {
    background-image: url("../IMG/bricks.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    width: 1000px;
    height: 820px;
    background-color: #262121;
    margin: -20px auto 0 auto;
    border: #7122fa 8px solid;
    box-shadow: 0 0 90px 120px rgba(0,0,0,0.5), inset 0 0 9px 12px rgba(113,34,250,0.3), 0 0 9px 12px rgba(113,34,250,0.3);
}

h1 {
    float: right;
    font-size: 50px;
    text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    color: #FFFFFF;
    font-family: "Monoton", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 40px 30px 20px 0;
}

aside {
    width: 120px;
    float: left;
    margin: 140px 0 10px 20px;
}

main {
    height: 600px;
    width: 800px;
    border: #7122fa 5px solid;
    float: right;
    margin: 20px 30px 20px 0;
    background-color: #111010;
    box-shadow: inset 0 0 9px 12px rgba(113,34,250,0.3), 0 0 9px 12px rgba(113,34,250,0.3);
}

aside div {
    width: 70px;
    height: 70px;
    border: 8px solid white;
    border-radius: 40px;
    margin: 0 auto 15px auto;
    background-size: cover;
}

.white {
    border-color: #FFFFFF;
    background-image: url("../IMG/brushWhite.png");
}

.orange {
    border-color: #FF6037;
    background-image: url("../IMG/brushOrange.png");
}

.yellow {
    border-color: #FFFF66;
    background-image: url("../IMG/brushYellow.png");
}

.green {
    border-color: #66FF66;
    background-image: url("../IMG/brushGreen.png");
}

.blue {
    border-color: #50BFE6;
    background-image: url("../IMG/brushBlue.png");
}

.pink {
    border-color: #FF00CC;
    background-image: url("../IMG/brushPink.png");
}

.eraser {
    margin-top: 30px;
    border-color: #b2b2b2;
    background-image: url("../IMG/eraserGrey.png");
}